body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.student-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
button {
    background-color: #ffffff;
    color: rgb(255, 74, 74);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgb(255, 74, 74);
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
}
button:hover {
    background-color: rgb(255, 74, 74);
    color: white;
}
.message {
    color: red;
    font-weight: bold;
}